<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <style>

    </style>
</head>
<body>

<div>
    <h1> List of Users </h1>
</div>

<div class ="container">
    <div class = "button-contact">
        <a th:href = "@{/user/add}"> Add User</a>
    </div>

    <table id="users">
        <thead>
        <tr>
            <th> ID</th>
            <th> Name</th>
            <th> Email </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "user: ${users}">
            <td th:text = "${user.id}"></td>
            <td th:text = "${user.username}"></td>
            <td th:text = "${user.email}"></td>
            <td class = "td-btn">
                <a th:href="@{/user/edit/{id}(id=${user.id})}" class = "button-update">Edit</a>
                <a th:href="@{/user/delete/{id}(id=${user.id})}" class = "button-delete">Delete</a>
                <a th:href="@{/user/{id}(id=${user.id})}">Details</a>

                <!--                <a th:href = "@{/users/{id}(id=${user.id})}"-->
                <!--                   class = "button-delete">Delete</a>-->

                <!--                <a th:href = "@{/users/{id}(id=${user.id})}"-->
                <!--                   class = "button-delete">Delete</a>-->

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>